

/* Table of content
--------------------------------------------
1. General
------------------------------------------*/
 .searchBody{
      margin-top: 30px;
    }
  .searchIcon{
    padding: 0 10px;
  }
  .searchIcon .fa-search{
    margin-top: 5px;
  }

body{
        font-family: arial,sans-serif;
  }
   article.post {
    margin: 1rem;
    padding-bottom: 1.5rem;
  }
  .post{
    line-height: 1.4;
    word-wrap: break-word;
    font-size: small;
    color: #545454;
  }
  .post h4{
    color: blue;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  .topBox{
    background: #fafafa;
    height: 170px;
  }
  .topSearchBlock{
    padding-top: 40px;
  }
  .navbar-item img {
    max-height: 4.5rem;
  }
  .articleContent{
    padding-left: 20px;
  }
  i.fa.fa-search {
    margin-top: 10px;
    color: #e95420;
  }
  .dateOneBlock{
    margin-bottom: 30px;
  }
  .bottomBorder{
    border-bottom: 2px solid #e95420;
    display: block;
    margin-left: 35px;
  }
.navbar{
  background: #fafafa;
  padding-top: 20px;
}
.navbar-brand{
    justify-content: center;
  }
  .content:not(:last-child) {
    margin-bottom: 1rem;
  }
  .listContent::before { 
    content: "»";
    color: #e95420;
    font-size: 18px;
  }
  .dateTitle {
    margin-left: 15px;
}
.activitiesButton{
  margin-top:4px;
}
   @media only screen and (max-width:780px) {
   
    .topBox{
    background: #fafafa;
    height: auto;
  }
  .searchBox{
    padding: 0 20px 30px;
  }
  .topSearchBlock{
    padding-top: 0px;
  }
  .articleContent{
    padding-left: 0px;
  }
  .navbar-brand{
    justify-content: center;
  }
   .bottomBorder{
    border-bottom: 1px solid #e95420;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
  }
  }


